#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.App {
  height: 100%;
}
main{
  border: 1px solid #ddd;
  padding: 1rem;
  border-bottom: none;
  height: 100%;
}

.item-list .item {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.item-list .item img {
  width: 100%;
}

.dark, .dark a, .btn {
  background: #333;
  color: #fff
}

.navbar {
  /* background: #ccc; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.skill-type {
  margin: 5px;
}